* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 350px;
    height: 500px;
    border-radius: 0.5em;
    overflow: hidden;
    font-family: sans-serif;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
* {
    box-sizing: border-box;
}

*:focus {
    border: 3px dotted orange !important;
}

#spinner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

textarea#md {
    border: none;
    padding: 0.5em;
    flex: 1;
}

input#title {
    padding: 0.5em;
}

#container {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
.row {
    flex-direction: row;
    display:flex;
}

a.button {
    display: block;
    padding: 0.5em 0;
    background-color: #222288;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    border: 1px solid white;
    border-collapse: collapse;
}

#downloadSelection {
    background-color: black;
    display: none;
}

#selected, #document {
    flex:1;
}

#clipOption {
    display:none;
}

.check {
    /* border: 1px solid white; */
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0;
    margin-right: 0.25em;
    display: inline-block;
}

.check.checked::before {
    content: ' ';
    position: absolute;
    background-color: white;
    left: 0.1em;
    top: 0.25em;
    right: 0.1em;
    bottom: 0em;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}